<div class="row">
    <div class="col-xs-1">
        {% include 'djtrac/includes/ticket_link.html' with ticket=note.get_ticket %}
    </div>
    <div class="col-xs-10">
        <blockquote>
        {{ note.description|safe }}
        </blockquote>
    </div>
    <div class="col-xs-1">
        <a href="{% url 'djtrac.views.release_note.edit' note.ticket %}?next={{ request.get_full_path|urlencode }}"
           class="btn btn-xs btn-info  center-block">
            {% if note.description %}
                <span class="glyphicon glyphicon-edit"></span>
            {% else %}
                <span class="glyphicon glyphicon-plus"></span>
            {% endif %}
        </a>
    </div>
</div>