{% load djtrac_tags %}

{% if group_by_components or group_by_milestone %}
    <div class="panel-collapse collapse" id="milestone_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" >
{% endif %}

<div class="bs-table" >
      <table class="table table-condensed table-bordered" >

          <thead>
            <tr>
              <th>#</th>
              <th>{{ sort_params.id.icon|safe }}<a href="{{ sort_params.id.url }}">№</a></th>
              <th>{{ sort_params.summary.icon|safe }}<a href="{{ sort_params.summary.url }}">Название</a></th>
              <th>{{ sort_params.time.icon|safe }}<a href="{{ sort_params.time.url }}">Открытие тикета</a></th>
              <th>{{ sort_params.changetime.icon|safe }}<a href="{{ sort_params.changetime.url }}" >Последнее изменение</a></th>
              <th>{{ sort_params.priority.icon|safe }}<a href="{{ sort_params.priority.url }}" >Приоритет</a></th>
              <th>{{ sort_params.owner.icon|safe }}<a href="{{ sort_params.owner.url }}">Исполнитель</a></th>
              <th>{{ sort_params.milestone.icon|safe }}<a href="{{ sort_params.milestone.url }}">Этап</a></th>
              <th>{{ sort_params.status.icon|safe }}<a href="{{ sort_params.status.url }}">Состояние</a></th>
              <th>{{ sort_params.keywords.icon|safe }}<a href="{{ sort_params.keywords.url }}">Ключевые слова</a></th>
            </tr>
          </thead>
          <tbody>

            {% for ticket in tickets %}
                <tr class={% if ticket.status == 'closed' %}success{% elif ticket.status == 'assigned' %}warning{% elif ticket.status == 'new'%}danger{% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ ticket.id|djtrac_ticket_url }}">{{ ticket.id}}</a></td>
                    <td>{{ ticket.summary }}</td>
                    <td>{{ ticket.time|to_datetime }}</td>
                    <td>{{ ticket.changetime|to_datetime }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.owner }}</td>
                    <td>{{ ticket.milestone }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.keywords }}</td>
                </tr>
                {% if show_description %}
                    <tr>
                    <td colspan="2"></td>
                    <td colspan="8">{{ ticket.description }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
      </table>
      </div>
{% if group_by_components or group_by_milestone%}
    </div>
{% endif %}
