{% load staticfiles %}
{% load django_select2_tags %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
		<title>
            {% if title %}{{ title }} - {% endif %}
            Trac Extension
        </title>


		<!-- basic styles -->
        <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/extra.css" rel="stylesheet">
        {% import_django_select2_css %}

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
        <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/custom/index.js' %}"></script>
        {% import_django_select2_js %}

        {{ form.media }}
        {{ formset.media }}
        {% block extra_head %}{% endblock %}
        {% block head %}{% endblock %}
	</head>

	<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'djtrac.views.main.main' %}" class="navbar-brand">Trac Extension</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_anonymous%}
                <li> <a>Вы вошли как {{ request.user }}</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>


    <div class="container">

    {% block body %}
	{% endblock body %}
    </div>
	</body>
</html>
