{% extends 'djtrac/base.html' %}

{% load staticfiles %}
{% load djtrac_tags %}


{% block body %}

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                {% include "djtrac/form_templates/field.html" with field=form.milestone %}
                {% include "djtrac/form_templates/field.html" with field=form.component %}
                {% include "djtrac/form_templates/field.html" with field=form.number %}
            </div>
            <div class="col-sm-6">
                {#            {% include "djtrac/form_templates/field.html" with field=form.keyword %}#}
                {% include "djtrac/form_templates/field.html" with field=form.keyword %}
                {% include "djtrac/form_templates/field.html" with field=form.dt_from %}
                {% include "djtrac/form_templates/field.html" with field=form.dt_to %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            {% include "djtrac/form_templates/checkbox_field.html" with field=form.group_by_components %}
            {% include "djtrac/form_templates/checkbox_field.html" with field=form.group_by_milestone %}
            {# {% include "djtrac/form_templates/checkbox_field.html" with field=form.show_description %} #}
        </div>

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                    Найти
                </button>
            </div>

            {% if have_not_send_release_notes and request.GET.milestone %}
            <div class="col-sm-3 col-sm-offset-5">
                <a href="{% url 'djtrac.views.release_note.send_mail' %}?milestone={{ request.GET.milestone }}&next={{ request.get_full_path|urlencode }}"
                   class="btn btn-default">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Отправить замечания о выпуске
                </a>
            </div>
            {% endif %}
        </div>

    </form>

    {% if group_by_components and group_by_milestone %}
        {% for component, milestones in grouped_tickets.iteritems %}
            <div class="panel panel-primary no-margin">
                <div class="panel-heading" >Направление: {{ component }}</div>
            </div>
            <ul class="list-group">
                {% for mitestone, tickets in milestones.iteritems %}
                    <li class="list-group-item" >
                        <a data-toggle='collapse' href="#milestone_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                            Этап: {{ mitestone|default:"не указан" }}</a>
                        {{ tickets|length }} тикетов
                    </li>
                    {% include 'djtrac/includes/page_tickets.html' with collapse=True %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% elif group_by_components or group_by_milestone %}
          {% for component_or_milestone, tickets in grouped_tickets.iteritems %}
              <li class="list-group-item" >
                <a data-toggle='collapse' href="#milestone_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                    {{ component_or_milestone|default:"не указан" }}</a>
                {{ tickets|length }} тикетов
              </li>
              {% include 'djtrac/includes/page_tickets.html' with collapse=True %}
          {% endfor %}
    {% elif page.object_list|length %}
        {% include 'djtrac/includes/page_tickets.html' %}
    {% endif %}

    {% if not tickets|length %}
      <div class="well">Тикетов не найдено</div>
    {% endif %}
{% endblock body %}
