{% extends 'djtrac/base.html' %}
{% load  djtrac_tags %}
{% block body %}
    <h1>Тикет № {{ object.id }}</h1>
    <div class="panel panel-default">
      <div class="panel-body">
          <h2>{{ object.summary|tracwiki }}</h2>
          <div class="well">

          {{ object.description|tracwiki }}
          </div>
      </div>
    </div>
       <h3>История</h3>
       <div>

          {% for change in changes %}
          <p><b>{{ change.author }}</b> добавил комментарий {{ change.time}} / {{ change.time }}   {{ change.field }} </p>
              <div class="well">


{#              {{ change.oldvalue }}#}
{#              {{ change.oldvalue|tracwiki }}#}


              {{ change.newvalue|tracwiki }}
              </div>
          {% endfor %}


      </div>
    </div>
{#    {{ object.id }}#}
{#    {{ object.summary }}#}
{#    {{ object.description }}#}
{% endblock %}