{% extends 'djtrac/mail/base.html' %}

{% load djtrac_tags %}

{% block body %}
    {% for milestone, milestone_tickets in milestones_tickets.items %}
        <h3>Изменения по "{{ milestone }}"</h3>

        {% if milestone_tickets.new %}
            <h4>Новые тикеты:</h4>
            <ul>
                {% for ticket in milestone_tickets.new %}
                    <li>
                        <a href="{{ ticket.id|djtrac_ticket_url }}">#{{ ticket.id }}</a> {{ ticket.summary }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if milestone_tickets.left %}
            <h4>Удаленные тикеты:</h4>
            <ul>
                {% for ticket in milestone_tickets.left %}
                    <li>
                        <a href="{{ ticket.id|djtrac_ticket_url }}">#{{ ticket.id }}</a> {{ ticket.summary }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <a href="{{ project_url }}{% url 'djtrac.views.main.main' %}">
                Отчет по текущим задачам.
            </a>
        </p>

    {% endfor %}
{% endblock %}


